<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="plugins" type="MultiDesktop.PluginSectionHandler, MultiDesktop"/>
  </configSections>
  <plugins>
    <plugin name="ProjectPlugins.MSProjectPanel, MSProjectPlugin" type="IProjectPlugin"/>
    <plugin name="PanelPlugins.FinancePanel, FinancePlugin" type="IPanelPlugin"/>
  </plugins>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
