<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ical>
    <file id="1" filename="Birthdays.ics" name="Birthdays" />
    <file id="2" filename="Personal.ics" name="Personal" />
    <file id="3" filename="US Holidays.ics" name="US Holidays" />
  </ical>
  <categories>
    <category id="1" name="Personal" color="Green" order="1" />
    <category id="2" name="Work" color="Red" order="2" />
    <category id="3" name="Education" color="Yellow" order="3" />
    <category id="4" name="Family/Friends" color="Purple" order="4" />
    <category id="5" name="Entertainment" color="Blue" order="5" />
    <category id="6" name="Maintenance" color="Orange" order="6" />
    <category id="7" name="Habits" color="Tan" order="7" />
    <category id="8" name="Contact" color="White" order="8" />
    <subcategory id="1" category="7" name="Wash Up" order="1" />
    <subcategory id="2" category="7" name="Breakfast" order="2" />
    <subcategory id="3" category="7" name="Lunch" order="3" />
    <subcategory id="4" category="7" name="Dinner" order="4" />
    <subcategory id="5" category="7" name="Preparation" order="5" />
    <subcategory id="6" category="7" name="Sleeping" order="6" />
    <subcategory id="7" category="1" name="Aquarium" order="1" />
    <subcategory id="8" category="1" name="In Transport" order="2" />
  </categories>
</configuration>